.imageviewer {
    display: inline-block;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    border: 2px solid green;
    border-radius: 8px;
}


img {
    min-width: 360px;
    width: 100%;
}